body {
  font-family: "Cairo", sans-serif;
  margin: 0%;
  overflow: hidden;
  color: hsl(225, 88.89%, 96.47%);
}

h3 {
  margin: 0%;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
}

input {
  background-color: hsl(96, 15.15%, 6.47%);
  padding: 0.9rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
  border-color: hsl(96, 15%, 16.47%);
  color: hsl(225, 88.89%, 96.47%);
  font-size: 1.2rem;
  
}

/* input[type="password"]:valid{
        border-color: hsl(142.57,52.15%,40.98%);
} */

input:focus,
textarea:focus {
  outline: none;
  border-color: hsl(49.43, 100%, 37.84%);
}

input:invalid{
    border-color: hsl(8.09,80.18%,56.47%);
}

::placeholder {
  letter-spacing: 3px;
  font-weight: 100;
  opacity: 30%;
}

p {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
}

.p-light {
  font-weight: 100;
  max-width: 39rem;
}

.form-section {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  display: inline-block;
  width: 40vw;
  background-image: url("./images/milad-fakurian-CdAmQAko9As-unsplash-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-side {
  width: 60vw;
  background-color: hsl(63.75, 100%, 1.14%);
}

.right-content_wrapper {
  margin-top: 8vh;
}

.content-padding {
  width: 100%;
  padding: 0rem 5rem;
}
/* .intro_wrapper{
    max-width: 65rem;
} */

form {
  display: flex;
  background-color: hsl(100, 15.09%, 6.47%);
  padding: 3rem 0rem;
  margin: 3.5rem 0rem;
}

.inputs_wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  gap: 2rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(225, 88.89%, 96.47%, 60%);
}
